:root {
  --background: #D4D7EB;
  --sections-bg: #EBEFFA;
  --pink-bg: #B290A8;
  --pink-text: #B290A8;
  --main-text: #000;
  --grey: #7D7C7C;
  --white-text: #fff;
}

* {
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  background-color: var(--background);
}

nav {
  width: 100%;
  max-width: 1300px;
  justify-content: space-between;
  display: flex;
  padding: 30px 0;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  gap: 50px;
  display: flex;
  align-items: center;
}

.logo {
  padding-right: 50px;
}

ul li a {
  color: var(--grey);
  font-family: "SF Pro Display";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 139.583%; /* 33.5px */
  text-decoration: none;
}

.active {
  color: var(--main-text);
}

.header_btns {
  display: flex;
  align-items: center;
  gap: 30px;
}

.lang {
  display: flex;
  gap: 15px;
}

#en {
  border: 0 1px 0 0 solid var(--grey);
  display: flex;
  padding-right: 14px;
  align-items: center;
  box-sizing: border-box;
  color: var(--main-text);
  font-family: "SF Pro Display";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 139.583%; /* 33.5px */
  background: none;
  cursor: pointer;
}

#ar {
  color: var(--grey);
  font-family: "SF Pro Display";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 139.583%; /* 33.5px */
  background: none;
  border: none;
  cursor: pointer;
}

#mode {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 40px;
  background: var(--pink-bg);
  border: none;
  cursor: pointer;
}

#login {
  border-radius: 30px;
  background: var(--pink-bg);
  border: none;
  cursor: pointer;
  display: flex;
  padding: 7px 30px;
  box-sizing: border-box;
}

#login a {
  color: var(--white-text);
  text-align: center;
  font-family: "SF Pro Display";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 139.583%; /* 33.672px */
  text-decoration: none;
}